{% extends 'poll/super/base_admin.html' %}

{% block title %}
    Delete Position
{% endblock %}


{% block content %}

    <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Sure to Delete {{ position.title }} ?
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3">

    <p> Nominees affected : {{ position.nominee_set.all.count }} </p>
    <p> Please note that this is irreversible </p>
<form method="post" action="{% url 'poll:super-position-delete' position.pk %}">
    {% csrf_token %}
    <button class="uk-button uk-button-default tm-button-default" type="submit"> Confirm </button></form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>




{% endblock %}