{% extends 'poll/super/base_admin.html' %}

{% block title %}
Add Position
{% endblock %}


{% block content %}
        <div class="uk-container uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default uk-background-default ">
                <div class="uk-card-header">
                  <span class="uk-text uk-text-danger">{{ department.name|upper }} - </span>  Add a new Position here
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3@m">
                      <form class="uk-form uk-form-horizontal" method="post" action="{% url 'poll:super-position-add' department.pk %}">
                          {% csrf_token %}
                          {{ form.errors }}
                       <div>Title :
                            {{ form.title }}</div>


<div class="uk-section">
    <button class="uk-button uk-button-default">Submit</button></div>

                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}
