{% extends 'poll/super/base_admin.html' %}

{% block title %}
Positions
{% endblock %}



{% block content %}

        <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-3-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                 <span class="uk-text uk-text-danger">{{ department.name|upper }} - </span>  All Positions
                </div>
                <div class="uk-card-body">
                    <div class="">
<table class="uk-table uk-table-small uk-table-hover uk-table-divider">
    <a class="uk-button uk-button-primary" href="{% url 'poll:super-position-add' department.pk %}"> Add Position </a>
    <a class="uk-button uk-button-muted" href="{% url 'poll:super-nominee-add' %}"> Add Nominee </a>
    <thead>
<tr>
<th>S/N</th>
<th>Title</th>
<th>Total Nominees</th>
<th>Total Votes </th>
</tr>
    </thead>
    {% for position in department.position_set.all|dictsort:"title"  %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'poll:super-position-edit' position.pk %}">{{ position.title }}</a></td>
        <td>{{ position.nominee_set.all.count}}</td>
        <td>{{ position.votes_count }}</td>
        <td> </td>
    </tr>
{% endfor %}

</table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>


{% endblock %}