{% extends 'poll/super/base_admin.html' %}

{% block title %}
Add Nominee
{% endblock %}


{% block content %}
        <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>

        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                      Add a new nominee here [<span class="uk-text uk-text-danger">{{ position.department.name|upper }}</span>]
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-2-3">
                     <form enctype="multipart/form-data" class="uk-form" method="post" action="{% url 'poll:super-nominee-add' %}">
{% if form.errors %}
<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ form.errors }}.</p>
</div>
        {% endif %}
                          {% csrf_token %}
                        <label> Position :
                            {{ form.position }}
                        </label>
                        <label> First Name :
                            {{ form.first_name }}
                        </label>
                        <label> Last Name :
                            {{ form.last_name }}
                        </label>
        <div uk-form-custom="target: true" class="uk-section-xsmall">
            {{ form.image }}
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select image" disabled>
        </div>

<br>
    <button class="uk-button uk-button-default" type="submit">Submit</button>
    <button class="uk-button uk-button-danger" type="reset">Clear</button>

                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="uk-flex-center uk-padding-small uk-width-1-3 uk-text-center">
            <div class="uk-card uk-card-default">
                {% load static %}
                <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle"><span id="fullname" class="uk-text-bold"> {{ form.first_name.value|default:'Nominee' }} {{ form.last_name.value|default:'' }} </span>
                <p>{{ form.position.title }}</p>


            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}
