{% extends 'poll/super/base_admin.html' %}

{% block title %}
Nominees
{% endblock %}



{% block content %}

       <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-3-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    All Nominees - [<span class="uk-text uk-text-danger">{{ department.name|upper }} </span>]
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3@m">
<table class="uk-table uk-table-small uk-table-hover uk-table-divider u">
    <a class="uk-button uk-button-primary" href="{% url 'poll:super-nominee-add' %}"> Add Nominee </a>
    <thead>
<tr>
<th>S/N</th>
<th>Full Name</th>
<th>Position</th>
<th>Votes</th>
<th></th>
</tr>
    </thead>
{% for p in positions %}
    {% for nominee in p.nominee_set.all|dictsort:"first_name"  %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ nominee.get_fullname }}</td>
        <td>{{ nominee.position.title }}</td>
        <td>{{ nominee.votes }}</td>
        <td> <a href="{% url 'poll:super-nominee-edit' nominee.position.pk nominee.pk  %}">Details</a>|
            <a class="uk-text uk-text-danger" href="{% url 'poll:super-nominee-delete' nominee.pk  %}"> Delete </a>
        </td>
    </tr>
{% endfor %}
{% endfor %}

</table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>


{% endblock %}