{% extends 'poll/super/base_admin.html' %}

{% block title %}
Detail {{ nominee.get_fullname }}
{% endblock %}


{% block content %}
        <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Edit Nominee
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-2-3">
                    <form enctype="multipart/form-data" class="uk-form" method="post" action="{% url 'poll:super-nominee-edit' nominee.position.pk nominee.pk %}">

                                                        {% if form.errors %}
<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ form.errors }}.</p>
</div>
        {% endif %}
                          {% csrf_token %}
                        <label> Position :
                            {{ form.position }}
                        </label>
                        <label> First Name :
                            {{ form.first_name }}
                        </label>
                        <label> Last Name :
                            {{ form.last_name }}
                        </label>
                        <div uk-form-custom="target: true" class="uk-section-xsmall">
            {{ form.image }}
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select image" disabled>
        </div>

<br>
    <button class="uk-button uk-button-default tm-button-default color-lime" type="submit">Update</button>
    <button class="uk-button uk-button-default tm-button-default" type="reset">Clear</button>
  <div class="uk-align-right" >  <a href="{% url 'poll:super-nominee-delete' nominee.pk %}" class="uk-button tm-button-default uk-button-danger "> Delete </a></div>
                    
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="uk-flex-center uk-padding-small uk-width-1-3 uk-text-center">
            <div class="uk-card uk-card-default">
                {% if nominee.image %}
                <img src="{{ nominee.image.url }}" class="uk-border-circle">
                {% else %}
                    {% load static %}
                <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle">
                {% endif %}
                <span id="fullname" class="uk-text-bold"> {{ nominee.get_fullname}} </span>
                <p>{{ nominee.position.title}}</p>
                <p> {{ nominee.votes }} Total Votes   </p>

            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}
