{% extends 'poll/super/base_admin.html' %}

{% block title %}
    Delete Nominee
{% endblock %}


{% block content %}

    <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Sure to Delete {{ nominee.get_fullname }} ?
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3">

    <p> Position affected : {{ nominee.position.title }} </p>
    <p> Please note that this is irreversible </p>
<form method="post" action="{% url 'poll:super-nominee-delete' nominee.pk %}">
    {% csrf_token %}
    <button class="uk-button uk-button-default tm-button-default" type="submit"> Confirm </button></form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>




{% endblock %}