{% extends 'poll/super/base_admin.html' %}

{% block title %}
Nominees
{% endblock %}



{% block content %}

       <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-3-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    All Nominees for {{ position.title }} - [<span class="uk-text uk-text-danger">{{ department.name|upper }} </span>]
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3@m">
<table class="uk-table uk-table-small uk-table-hover uk-table-divider">
    <a class="uk-button uk-button-primary" href="{% url 'poll:super-nominee-add' position.pk %}"> Add Nominee </a>
    <thead>
<tr>
<th>S/N</th>
<th>Full Name</th>
<th>Votes</th>
<th></th>
</tr>
    </thead>

    {% for nominee in position.nominee_set.all|dictsort:"first_name"  %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'poll:super-nominee-edit' position.pk nominee.pk  %}" class="uk-link uk-link-muted">{{ nominee.get_fullname }}</a></td>
        <td>{{ nominee.votes }}</td>
        <td><a href="{% url 'poll:super-nominee-edit' position.pk nominee.pk  %}" class="uk-link"> Details |</a><a href="{% url 'poll:super-nominee-delete' nominee.pk  %}" class="uk-link uk-text-danger"> Delete</a></td>
    </tr>
{% endfor %}


</table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>


{% endblock %}