.hide{
    display: none;
}
.col-md-6{
	padding-left: 0;
	padding-right: 0;
}
#logo-section{
	background: url('../images/2d.jpeg') no-repeat left top;

}
#rightHalf .container .row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.color-lime{
	background-color: #dc8310;
}
button:hover .color-lime {
	background-color: white;
	color:#dc8310;
}


.tm-button-default, .tm-button-primary,.uk-button > .uk-button-default {
    border-radius: 500px;
 }
 .fill{
 	height: -webkit-fill-available
 }
 .text-color {
    color: #dc8310;
}

.no-border {
    border: none;
    margin-bottom: 0px;
}
 .text-color {
    color: #dc8310;
}
.text-gold{
	color: #dc8310;
}
.gold-border{
	border: 2px solid #dc8310;

}
.no-border {
    border: none;
    margin-bottom: 0px;
}
.uk-background-gold{
	background-color: #dc8310;
	opacity: 2;
}
.no-height{
    height: 15px;
}
.tm-sidebar-left {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 20px 40px 20px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

@media (min-width: 960px) {
    .tm-container{
	margin-left: 240px;
}
}

.newhtml{
	background-color: 	#FFF8E1;
}

.uk-sticky{
	position: fixed;
}

.base{
	background-color: 	#ef6c00;
}

.card{
    border:1px solid #dc8310;
    border-radius: 0;
    width: auto;

}
.card-header{
    background-color: white;
    border-radius: 0;
    border-bottom: 1px solid #dc8310;
}
.badge{
    border-radius: 0;
}
.badge-primary{
    background-color: #dc3545;
}

*{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}



@media screen and (max-width: 300px)
  {
    .navbar-brand{
        font-size: 1.0rem;
    }
}

.voteBtn {
    width: 100%;
    cursor: pointer;
}
.imgVote{
    border-radius: 100%;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;
    transition: 0.3s;
    margin: 0px 50px 0px 50px;
    margin-bottom: -30px;
    z-index: 5000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.voteImg{
    min-height: 250px;
    max-height: 250px;
}
body {
    padding-top: 54px;
    background: #e8e8e81c;
}

section, .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    /* background: url('https://unsplash.it/1900/1080?image=304') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */

}



header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);

}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}
