/*!
 * Start Bootstrap - One Page Wonder (http://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */
.voteBtn {
    width: 100%;
}
.imgVote{
    border-radius: 100%;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;
    transition: 0.3s;
    margin: 0px 50px 0px 50px;
    margin-bottom: -30px;
    z-index: 5000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.voteImg{
    min-height: 250px;
    max-height: 250px;
}
body {
    padding-top: 54px;
}

section, .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    /* background: url('https://unsplash.it/1900/1080?image=304') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
     
}



header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
   
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}
