<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %} - iVote</title>
        <meta charset="utf-8">
    <meta name="propeller" content="332436ab7c5e3627ad5560f7b4477d0a">
{#        <meta name="viewport" content="width=device-width, initial-scale=1">#}
        {% load staticfiles %}
    {% block scripts %}{% endblock %}
        <link rel="stylesheet" href="{% static 'poll/css/uikit.min.css' %}   " />
         <link rel="stylesheet" href="{% static 'poll/css/site.css' %} " />
        <script src="{% static 'poll/js/uikit.min.js' %} "></script>
        <script src="{% static 'poll/js/uikit-icons.min.js' %} "></script>

    </head>
    <body class="newhtml">
        <!-- Navigation Area -->
        <div class="uk-offcanvas-content" style="">
            <div class="uk-container-expand uk-light uk-background-primary color-lime uk-positidon-fixe" uk-navbar uk-sticky="bottom: #offset">
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item"><span uk-icon="icon: 500px; ratio: 3.5"></span></div>
                         <div class="uk-navbar-item uk-text-bold">{{ DEPARTMENT.name|capfirst }} Admin Portal</div>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item uk-visible@m"><a href="{% url 'poll:position-index' DEPARTMENT.name|lower|default:'default' %}" class="uk-link uk-text-primary"> Go to Site </a></div>
                    <div class="uk-navbar-item uk-text-bold uk-visible@m"> {{ request.user.username }} </div>
                    <div class="uk-navbar-item uk-visible@m"><a href="{% url 'poll:super-logout' %}" class="uk-button uk-button-default tm-button-default uk-text-bold" uk-icon="sign-out"> Sign Out  </a></div>
                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></a>


                </div>
            </div>



        <!-- End of navigation -->

            <!-- Side Navigation  -->
              <div class="tm-sidebar-left color-lime fill uk-light uk-text-bold uk-visible@m" style="border-top:2px solid #fff;">
                <div class="uk-navbar">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header"> Dashboard</li>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-index' %}" > Event</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-position-index' %}" > Position</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-nominee-index' %}"> Nominee</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-result-index' %}"> Results</a>
                    <li class="uk-nav-divider"> <a href=""> Settings</a>
                </ul>
              </div>
              </div>

             <!-- End of Side Navigation  -->
        {% if alert_message %}
            <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ alert_message }}</p>
            </div>
        {% endif %}
            {% block content %}
            {% endblock %}



        <div id="offcanvas" uk-offcanvas="mode: push; overlay: false" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-background-default color-lime">
                <div class="uk-panel">
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header uk-text-uppercase">DASHBOARD
                                            <li class="uk-nav-divider"> <a href="{% url 'poll:super-position-index' %}" > Event</a>
                        <li class="uk-nav-divider"> <a href="{% url 'poll:super-position-index' %}" > Position</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-nominee-index' %}"> Nominee</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-result-index' %}"> Results</a>
                    <li class="uk-nav-divider"> <a href="{% url 'poll:super-result-index' %}"> Settings</a>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </body>

</html>
