{% extends 'poll/super/base_admin.html' %}

{% block title %}
Edit Department
{% endblock %}

{% block content %}
        <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Department Details
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-2-3@m">
                     <form class="uk-form" method="post" action="{% url 'poll:super-position-edit' pk %}">
{% if form.errors %}
<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ form.errors }}</p>
</div>
{% endif %}
                          {% csrf_token %}
                        <label> Position :
                            {{ form.title }}
                        </label>
                        <br>
<div class="uk-section">
        <button class="uk-button uk-button-default" type="submit">Update</button>
    <button class="uk-button uk-button-default" type="reset">Clear</button>

</div>

                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="uk-flex-center uk-flex-middle uk-padding-small uk-width-1-3@m uk-text-center">
            <div class="uk-card uk-card-default">
                <span class="uk-h1"> {{ form.votes_count.value }}
                   </span>
                    <p>Total Votes </p>


            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}
