{% extends 'poll/super/base_admin.html' %}

{% block title %}
    Error Encountered
{% endblock %}


{% block content %}

    <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                   Oops! Error Encountered
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3">

    <p> {{ error_message }}</p>

    <a class="uk-button uk-button-default tm-button-default" href=""> Go to Dashboard </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>




{% endblock %}