{% extends 'poll/super/base_admin.html' %}
{% block title %}
    Winners List
{% endblock %}

{% block content %}
            <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-3-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                 <span class="uk-text uk-text-danger">{{ department.name|upper }} - </span>  Winners List
                </div>
                <div class="uk-card-body">
                    <div class="">
<table class="uk-table uk-table-small uk-table-hover uk-table-divider">
    <a class="uk-button uk-button-primary" href=""> Print </a>
    <thead>
<tr>
<th>S/N</th>
<th>Position</th>
<th>Winner</th>
</tr>
    </thead>
    {% for position in positions  %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ position.title }}</td>
        <td>{{ position.get_winner }}</td>
    </tr>
{% endfor %}

</table>
                    <section class="">
                        All Nominees
                        {% for position in positions %}
                            <p><b>{{ position.title }}</b></p>
                            <ol>
                        {% for nominee in position.nominee_set.all %}
                            <li>{{ nominee.get_fullname }}</li>

                        {% endfor %}
                            </ol>
                        {% endfor %}

                    </section>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}
