<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'poll/css/uikit.min.css' %}   " />
         <link rel="stylesheet" href="{% static 'poll/css/site.css' %} " />
        <script src="{% static 'poll/js/uikit.min.js' %} "></script>
        <script src="{% static 'poll/js/uikit-icons.min.js' %} "></script>
        <script src="{% static 'poll/js/Chart.bundle.min.js' %}"></script>
        <script src="{% static 'poll/js/jquery.min.js' %} "></script>
        <script src="{% static 'poll/js/datadiet.js' %} "></script>
            <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

    </head>
    <body>

<div class="uk-child-width-expand@m uk-text-center uk-grid-match fill" uk-grid>
    <div class="uk-flex-center color-lime uk-background@s uk-column-1-2 ">
        <div class="uk-container-large uk-light">
        <div class="uk-card-smal uk-animation-slide-left-medium">
            <div class="uk-card-header uk-text-bold">
                <p class="uk-h1"> Winner </p>
            </div>
            <div class="uk-card-body">
                {% if winner.image.url is not null %}
                <img src="{{ winner.image.url }}" class="uk-border-circle" width="200px" height="200px">
                {% else %}
                    {% load static %}
                <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle" width="200px" height="200px">
                {% endif %}
                <p>{{ winner.get_fullname }}</p>
                <p class="uk-text-bold"> {{ winner.position.title }}</p>
                <p> <span class="uk-text-bold"> {{ winner.votes }} Total Votes </span> </p>
                <a href="" class="uk-button uk-button-default tm-button-default">Back to Dashboard</a>
            </div>


        </div>
        </div>
    </div>



    <div class="uk-flex-center">
        <div class="uk-container">
            <h2 class="uk-h3">Metrics</h2>
            <canvas id="chart-area" width="190" height="190"></canvas>
            <script>
                var randomScalingFactor = function() {
            return Math.round(Math.random() * 100);
        };
                var config = {
            type: 'doughnut',
            data: {
                labels: {% autoescape off %}{{ user_data }}{% endautoescape %},
                datasets: [{
                    data:{{ data }},
                    label: 'Results',
                    backgroundColor: {% autoescape off %}{{ colors }}{% endautoescape %},
                }]
            },
            options: {
                responsive: true,
                legend:{ position : 'bottom'},
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };
                window.onload = function() {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myDoughnut = new Chart(ctx, config);
        };
            </script>


        </div>
    </div>
    <div class="uk-flex-left">
        <div class="uk-container-expand">
            <div class="uk-card-small uk-align-left uk-card-body text-gold">
                <h2 class="uk-h2 text-gold uk-text-uppercase "> ASCON Awards</h2>
                <p class="uk-text-uppercase"> Vote Analysis for {{ position.title }}</p>
                <p class="uk-text-uppercase"> Total Votes = {{ position.votes_count }} </p>
               <div class="uk-grid-small uk-grid" uk-grid>
                   {% for nominee in position.nominee_set.all %}
                        <div class="uk-flex-inline uk-flex-middle uk-grid-margin uk-first-column">
                        {% if nominee.image.url is not null %}
                        {% load static %}
                            <img src="{{ nominee.image.url }}" class="uk-border-circle" width="40" height="40">
                            {% else %}
                            {% load static %}
                            <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle" width="40" height="40">
                            &nbsp;{% endif %}
                            <label>
                             {{ nominee.get_fullname }} -  {{ nominee.votes }} Votes
                            </label>
                        </div>
                   {% endfor %}
               </div>
                <div class="uk-card-footer">

<div class="uk-offcanvas-content">

    <!-- The whole page content goes here -->

    <button class="uk-button uk-button-default uk-margin-small-right tm-button-default" type="button" uk-toggle="target: #offcanvas-usage">Other Positions</button>
    <div id="offcanvas-usage" uk-offcanvas>
        <div class="uk-offcanvas-bar uk-background-default color-lime">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3 class="uk-h3">Available results</h3>
            <div class="uk-container-small uk-align-center">
                <ul class="uk-navbar-nav uk-align-center uk-list-divider uk-height-small">
                    {% for p in positions %}
                    <li class="">
                    <a href="{% url 'poll:result-detail' p.pk %}" class="uk-button uk-button-default tm-button-default"> {{ p.title }}

                        <span uk-icon="check"></span></a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>
                </div>
            </div>
        </div>
    </div>
</div>

    </body>
</html>