{% extends 'poll/super/base_admin.html' %}

{% block title %}
    Result Page
{% endblock %}


{% block content %}

    <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Available results -  Click to display report
                    <a class="uk-button uk-button-danger" href="{% url 'poll:super-result-list' %}">Print all winners</a>
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3">
                        <ul class="uk-list">
                            {% for position in positions %}

                                {% if position.votes_count > 0 %}
                            <li> {{ forloop.counter }}. <a href="{% url 'poll:result-detail' position.pk %} " class="uk">  {{ position.title }}  </a></li>
                           {% else %}
                            <li class="uk-text-muted"> {{ forloop.counter }}.  {{ position.title }} - No data available</li>
                            {% endif %}

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>




{% endblock %}