{% extends 'poll/super/base_admin.html' %}

{% block title %}
    Settings
{% endblock %}


{% block scripts %}
    {% load static %}
         <link rel="stylesheet" href="{% static 'poll/css/bootstrap-datetimepicker.min.css' %}   " />

{% endblock %}

{% block content %}

    <div class="uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default  uk-background-default ">
                <div class="uk-card-header">
                    Settings Module
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3">

    <p> Configure Appropriately</p>
<form method="post" action="{% url 'poll:super-settings' %}">
    {% csrf_token %}
<label> Vote start Period
    <div class="for_datetime">{{ form.start_date }}</div>

</label>
    <label> Vote Stop Period
            <div class="for_datetime">{{ form.end_date }}</div>

</label>
<script type="text/javascript">
  $(function() {
    $('.form_datetime').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>

    <button class="uk-button uk-button-default tm-button-default" type="submit"> Update </button></form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>




{% endblock %}