{% extends 'poll/super/base_admin.html' %}

{% block title %}

{% endblock %}
    <div class="uk-card uk-card-default">

    </div>

{% block content %}
 <div class="uk-container uk-child-width-expand@m uk-grid-match tm-container " uk-grid>
        <div class="uk-width-2-3@m uk-padding-small">
            <div class="">
              <div class="uk-card uk-card-default uk-background-default ">
                <div class="uk-card-header">
                    <label class="uk-text-bold">Dashboard</label>
                </div>
                <div class="uk-card-body">
                    <div class="uk-width-3-3@m">
<label>Events you handle</label>
        <div class="uk-align-right">
            <a href="" class="uk-button uk-button-primary"> Create new </a>
        </div>
    <table class="uk-table uk-table-hover">

        <thead>

        <tr onclick="">
            <th>S/N</th>
            <th>Event</th>
            <th>Positions</th>
            <th>Nominees</th>
            <th>Total Votes</th>
        </tr>
        </thead>
        {% for dept in departments|dictsort:'name' %}
        <tr onclick="">
            <td>{{ forloop.counter }}</td>
            <td> <a class="" href="{% url 'poll:super-position-index' dept.pk %}">{{ dept.event_title }}</a></td>
            <td> {{ dept.get_total_positions }} </td>
            <td> 0 </td>
            <td> 0 </td>


        </tr>
        {% endfor %}



    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </div>

{% endblock %}