<!DOCTYPE html>
<html>
    <head>
        <title>Login - iVote</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'poll/css/uikit.min.css' %}   " />
         <link rel="stylesheet" href="{% static 'poll/css/site.css' %} " />
        <script src="{% static 'poll/js/uikit.min.js' %} "></script>
        <script src="{% static 'poll/js/uikit-icons.min.js' %} "></script>
    </head>
    <body>
<div class="uk-section fill base ">

        <div class="uk-container-expand ">
            <div class="uk-position-center uk-padding-large  ">
                <div class="uk-card uk-card-default uk-card-large@m uk-width-large@m uk-text-center">
                    <div class="uk-card-header"> <h3 class="uk-h2">Superuser </h3></div>
                    <div class="uk-card-body uk-padding-remove-top ">
        <form class="uk-form-large@m uk-padding-small" action="{% url 'poll:super-login' %}" method="post">
            {% if error_message %}
                  <div class="uk-text-warning " > {{ error_message }} </div>
            {% endif %}
        {% csrf_token %}
        <div class="uk-inline uk-margin-medium-top">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username">
        </div>
        <div class="uk-inline uk-margin-medium-top   ">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password">
            </div><div class="uk-card-footer">
<button class="uk-button uk-button-default tm-button-default base uk-light"  type="submit"  >    Get me in </button>
</div>
                        </form>
                    </div>


                </div>
            </div>

 </div>


            <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center" >  Copyright @ Anonymous 2018 </div>



        </div>






    </body>
    </html>
