{% load settings %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}: 3D-Awards{% endblock %}</title>
        <meta charset="utf-8">
    <meta name="propeller" content="332436ab7c5e3627ad5560f7b4477d0a">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'poll/css/uikit.min.css' %}   " />
         <link rel="stylesheet" href="{% static 'poll/css/site.css' %} " />
        <script src="{% static 'poll/js/uikit.min.js' %} "></script>
        <script src="{% static 'poll/js/uikit-icons.min.js' %} "></script>
        <script src="{% static 'poll/js/jquery.min.js' %} "></script>
        <script src="{% static 'poll/js/datadiet.js' %} "></script>
    </head>
    <body>

<div class="uk-grid-collapse uk-child-width-expand@m uk-text-center uk-grid-match fill uk-child-width-expand@s uk-child-width-expand@l" uk-grid>
    <div class="uk-flex uk-flex-center">
        <div class="uk-background-contain uk-height-large uk-panel" style="background-image: url({% static 'poll/images/2d.jpeg' %});">
        <div class="uk-section"></div>
        <div class="uk-section"></div>
        <div class="uk-section"></div>
        <div class="uk-section-xsmall"> 
                <span uk-spinner="ratio:2"></span>
        </div>
        {% now 'c' as the_time %}
            {% if EXPIRY_DATE|date:'c' < the_time %}
        <div class="uk-section-xsmall uk-grid-small uk-flex-center" uk-grid uk-countdown="date: {{ EXPIRY_DATE|date:'c'}}">
        {% elif START_DATE|date:'c' > the_time %}
            <div class="uk-section-xsmall uk-grid-small uk-flex-center" uk-grid uk-countdown="date: {{ START_DATE|date:'c'}}">
        {% else %}
            <div class="uk-section-xsmall uk-grid-small uk-flex-center" uk-grid uk-countdown="date: {{ EXPIRY_DATE|date:'c'}}">
        {% endif %}
    <div>
        <div class="uk-countdown-number uk-countdown-days text-color"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Days</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours text-color"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Hours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes text-color"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds text-color"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Seconds</div>
    </div> 
        </div>
       </div>
    </div>
    <div class="uk-flex uk-flex-center">

        <div class="uk-background color-lime uk-padding uk-light uk-background-fixed">
            <div class="uk-container uk-container">
           <h3 class="uk-h2 uk-margin-bottom-remove"> Faculty of Communication and Information Sciences </h3>
            {% if DEPARTMENT.name != "DEFAULT" %}
           <br/>  {{ DEPARTMENT.name|capfirst }} Section </div>

            {% endif %}
            </h3>
            <p class="uk-h3"><a href="{% url 'poll:index' DEPARTMENT.name|lower %}" class="uk-text-muted">Voting Portal</a>  </p>
                <p class=""> The much awaited {{ DEPARTMENT.event_title }},</p>
            {% now 'c' as timer %}
            {% if EXPIRY_DATE|date:'c' < timer %}
                {% include "poll/default/expired_voting.html" with error_message='Sorry, Voting has closed'%}
            {% elif START_DATE|date:'c' > timer %}
                {% include "poll/default/expired_voting.html" with error_message='Stay tuned, awards opening soon.'%}
            {% else %}
                {% block content %}
                {% endblock %}
            {% endif %}

            </div>
        </div>
    </div>
</div>

    </body>
</html>