{% extends 'poll/default/base_default.html' %}

{% block title %}
     Pick a Category
{% endblock %}

{% block content %}
        <section>
      <div class="container">
      <div class="uk-card uk-card-default uk-padding-small">
          <div class="uk-card-title uk-padding"> <h3> <span class="uk-text-danger" uk-icon="database"> </span> Select a category </h3>  </div>
          <div class="uk-card-footer">
                <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
          {% for position in positions.position_set.all|dictsort:"title" %}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title"><a href="{% url 'poll:cast-vote' DEPARTMENT.name|lower position.pk %}" class="uk-link-text">{{ position.title }}</a></h3>
    <p class="uk-text-right"> {{ position.votes_count }} <span class="uk-text-danger">Total Votes</span></p>
        </div>
    </div>
          {% endfor %}
      </div>
          </div>

      </div>
        </div>
    </section>

{% endblock %}