{% extends 'poll/default/base_default.html' %}

{% block title %}
    - {{ position.title }}
{% endblock %}


{% block content %}
        <section>
<form>
      <div class="container" >
        <div class="row">
    <div class="uk-width-1-1">
        <div class="uk=card uk-card-default uk-hover uk-padding">
            <div class="uk-card-title"><h3 class="uk-text-primary"><span uk-icon="info"></span> {{ position.title }} ... </h3></div>
            <div class="uk-card-footer">
                <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
   {% for nominee in position.nominee_set.all|dictsort:"first_name" %}
   <div>
    <div class="uk-card uk-card-small uk-card-default uk-card-hover">
    <div class="uk-card-title uk-margin-remove ">
                            {% if nominee.image %}
            <img src="{{ nominee.image.url }}" class="uk-border-circle uk-align-middle">
            &nbsp;
            {% else %}
                {% load static %}
            <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle uk-align-center">
            &nbsp;
            {% endif %}
    </div>
    <div class="uk-card-footer">
                <h4 class="card-title text-center uk-text-danger">{{ nominee.get_fullname }}</h4>

              <a disabled="false" class="uk-align-center uk-button uk-button-danger confirm" related="{{ nominee.get_fullname }}" nominee="{{ nominee.pk }}"> Vote </a>

    </div>
    </div>
    </div>
   {% endfor %}
</div>
            </div>

        </div>


    </div>
          </div>

        </div>
</form>
    </section>

    <div id="modal-confirm" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Confirm Nomination</h2>
        </div>
        <div class="uk-modal-body">
            <p>You selected <span id="selectedName"> </span>  for the {{ position.title }} award.</p>
            <p>Confirm selection</p>
        </div>
                <form>
            <input hidden name="userChoice" value="" id="submit">
        </form>
        <div class="uk-modal-footer uk-text-right">
            <form method="post" action="{% url 'poll:cast-vote' DEPARTMENT.name|lower position.pk %}">
                        {% csrf_token %}
            <input hidden name="choice" value="" id="userChoice">
            <button class="uk-button uk-button-default uk-modal-close canc" type="button">Cancel</button>
            <button class="uk-button uk-button-danger color-lime" id="btnFinalSub" type="submit">Submit</button>
        </form>
        </div>
    </div>
</div>
    <div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-align-center">
Oops, seems like you forgot to pick a lucky nominee
            <br> this and pick the one
            <br>Cheers </div>
    </div>
</div>

{% endblock %}