{% extends 'poll/default/base_default.html' %}

{% block title %}
{% endblock %}

{% block content %}
<section>
<div class="container">
    <div class="row">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
<div class="uk-card-title">
    <h3 class="uk-text-success"><span uk-icon="info"></span> Success !</h3>
</div>
<div class="uk-card-footer">
        <h3 class="uk-card-title uk-text-default"> Vote Submitted for {{ position.title }} </h3>
    <p class=""> {{ position.votes_count }} Total Votes</p>
        <p class="">You can vote again in the next <b>{{ DEPARTMENT.vote_timeout }} hours</b></p>
        <a href="{% url 'poll:position-index' DEPARTMENT.name|lower %}" class=" uk-button uk-button-danger"> Back to portal </a>

</div>
</div>







        </div>

    </div>



{#To-do#}
{#export the correct expiry hours#}
<script async="async" data-cfasync="false" src="//tharbadir.com/2?z=1969447"></script>
</section>
{% endblock %}