{% extends 'poll/default/base_default.html' %}


{% block home_content %}
    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="text-white"> National Association of Computer Science Students in Nigeria <br>(Unilorin Chapter)<br> Brings to you her </h1>
            <br>
            <div>
                <h1 class=" text-white">AWARD NIGHT</h1>
                <p class="text-white" style="font-family:'Droid Serif', 'DejaVu Serif', 'STIX', serif">Date : 10th August 2019</p>
                <p class="text-white" style="font-family:'Droid Serif', 'DejaVu Serif', 'STIX', serif">Venue : African People's Hall</p>
            </div>

        </div>
      </div>
    </header>

    <section>
      <div class="container">
          <div class="row">

                  <div class="uk-card uk-card-default uk-card-hover uk-width-1-1 uk-padding">
                  <div class="uk-card-title">
                      <h3 class="uk-h3 "><span class="uk-text-primary" uk-icon="info"></span> Voting Information </h3>
                  </div>
                      <div class="uk-card-footer">
                                {% if EXPIRY_DATE|date:'c' < the_time %}
                <p class="uk-text-danger"> Sorry voting has closed </p>
        {% elif START_DATE|date:'c' > the_time %}

                <p class="uk-text-warning">Keep your fingers crossed, voting starts in a bit</p>
                <p class="uk-text">Anticipate <b>{{ START_DATE|date:'r' }}</b> </p>

        {% else %}
                                    <p class="uk-text"> Voting is on until <b>{{ EXPIRY_DATE|date:'r' }}</b> </p>
                <p class="uk-text-success"><a class="uk-button uk-button-default uk-button-danger" href="{% url 'poll:position-index' DEPARTMENT.name|lower  %}">Proceed to Voting Section</a></p>
        {% endif %}



                      </div>


</div>
          </div>
        <div class="row">
            <div class="uk=card uk-card-default uk-card-hover uk-width-1-1 uk-padding">
                  <div class="uk-card-title"><h3><span class="uk-text-primary" uk-icon="info">
                  </span> Important information to all nominees </h3>


                  </div>

{#                <div class="uk-card-footer">#}
{#                  <p class=""><span class="uk-text-warning">Congratulations</span> to the following nominees</p>#}
{#                  <p class="tect-center">Kindly make a 1500 payment to the account below to seal your voting slot</p>#}
{#                  <p class="tect-center "><b>NAME: Adebisi Taofeeqah Damilola</b></p>#}
{#                  <p class="tect-center"><b>GTBANK: 0219858851</b></p>#}
{#                  <p class="tect-center"><b>Contact: 08188481413</b></p>#}
{#                  <p class="uk-text-danger">Prices for the Underlisted vary, contact the above for more info</p>#}
{#                  <ol>#}
{#                      <li>Entrepreneur of the Year</li>#}
{#                      <li>Fashion Designer of the Year</li>#}
{#                      <li>Tightest Wardrobe</li>#}
{#                      <li>Signout Baby</li>#}
{#                      <li>Model of the Year</li>#}
{#                      <li>Artiste of the Year</li>#}
{#                  </ol>#}
{#<div class="row">#}
{#{% for position in positions|dictsort:'title' %}#}
{##}
{#          <div class="col-md-4">#}
{#            <div class="card">#}
{#              <h4 class="card-header">#}
{#                {{ position.title }}#}
{#                <span class="badge badge-primary">{{ position.nominee_set.count }}</span>#}
{#              </h4>#}
{#              <div class="card-body">#}
{#                <ul class="">#}
{#                    {% for nominee in position.nominee_set.all|dictsort:'first_name' %}#}
{#                  <li class="">{{ nominee.get_fullname }}</li>#}
{##}
{#                    {% endfor %}#}
{#                </ul>#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#{% endfor %}#}
{#</div>#}
{#                          </div>#}





        </div>
      </div>
    </section>
{% endblock %}