<section>
<div class="container">
    <div class="row">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
  <h3 class="uk-h3 uk-center uk-text-danger"> {{ error_message }} </h3>
        <p>
              <a href="{% url 'poll:position-index' DEPARTMENT.name|lower %}" class=" uk-button uk-button-danger"> Back to portal </a>
        </p>
</div>
</div>
</div>

</section>

