{% extends 'poll/default/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <p> Click Proceed to vote </p>
    <a class=" uk-button uk-button-default tm-button-default " href="{% url 'poll:position-index' DEPARTMENT.name|lower|default:'default' %}" > Proceed </a>
{% endblock %}