{% extends 'poll/default/base.html' %}

{% block title %} Pick Category
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-body uk-card-small uk-padding-samll ">
                    <p class="uk-card-title"> Select a Category to Vote </p>
                    <div class="uk-divider-icon"></div>
    <div class="uk-column-1-2@m" >
    <ul class="">
        {% for position in positions.position_set.all|dictsort:"title" %}
    <li class="uk-list"><a href="{% url 'poll:cast-vote' DEPARTMENT.name|lower position.pk %}" class="uk-link-text">{{ position.title }}</a>
        {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}