{% extends 'poll/default/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<form method="get" class="uk-form-horizontal">
                <div class="uk-card-small">
                    <div class="uk-card-header">Choose your nominee for {{ position.title }}</div>
                    <div class="uk-divider-icon no-border"></div>
                    <div class="uk-card-body uk-margin-auto-top" >

                    <div class="uk-grid-small" uk-grid>
                        {% for nominee in position.nominee_set.all|dictsort:"first_name" %}
                        <div class="uk-flex-inline@m">
                            {% if nominee.image %}
                            <img src="{{ nominee.image.url }}" class="uk-border-circle" width="40" height="40">
                            &nbsp;
                            {% else %}
                                {% load static %}
                            <img src="{% static 'poll/images/photo.jpg' %}" class="uk-border-circle" width="40" height="40">
                            &nbsp;
                            {% endif %}
                            <label>
                            <input name="choice" class="uk-radio" type="radio" value="{{nominee.pk}}" related="{{ nominee.get_fullname }}"> {{ nominee.get_fullname }}
                            </label>

                        </div>
                        {% endfor %}
                        </div>
                        <div class="uk-card-footer">
<a class="uk-button uk-button-default tm-button-default confirm" picked=""> Submit </a>

                    </div>


<div id="modal-confirm" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Confirm Nomination</h2>
        </div>
        <div class="uk-modal-body">
            <p>You selected <span id="selectedName"> </span>  for the {{ position.title }} award.</p>
            <p>Confirm selection</p>
        </div>
                <form>
            <input hidden name="userChoice" value="" id="submit">
        </form>
        <div class="uk-modal-footer uk-text-right">
            <form method="post" action="{% url 'poll:cast-vote' DEPARTMENT.name|lower position.pk %}">
                        {% csrf_token %}
            <input hidden name="choice" value="" id="userChoice">
            <button class="uk-button uk-button-default uk-modal-close tm-button-default" type="button">Cancel</button>
            <button class="uk-button uk-button-primary tm-button-default color-lime" id="btnFinalSub" type="submit">Submit</button>
        </form>
        </div>
    </div>
</div>

    <div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-align-center">
Oops, seems like you forgot to pick a lucky nominee
            <br> this and pick the one
            <br>Cheers </div>
    </div>
</div>
                    </div>
                </div>
            </form>
{% endblock %}








