{% extends 'poll/default/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div>

    <h3 class="uk-h3">Vote Submitted for {{ position.title }}</h3>

<a href="{% url 'poll:position-index' DEPARTMENT.name|lower %}" class=" uk-button uk-button-default tm-button-default"> Go back to portal </a>
<p>You can vote again in the next <b>{{ DEPARTMENT.vote_timeout }} hours</b></p>

{#To-do#}
{#export the correct expiry hours#}

</div>
{% endblock %}